@import url("//cdn.web-fonts.ge/fonts/alk-rex-bold/css/alk-rex-bold.min.css");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
header{
	background-color: #0020F4;
	padding: 50px 120px 250px 120px;
}
nav, nav ul, nav li {
	list-style-type: none;
	display: inline-block;
	word-spacing: 10px;
}
.mlogo{
	vertical-align: middle;
	font-size: 5px;
	word-spacing: 10px;
}
section div{
	width: 800px;
    margin-left: auto;
	margin-right: auto;
}
.kont{
	background-color: #FFFFFF;
	color: #171717;
	padding: 10px 25px 10px 25px;
	border-radius: 30px;
	font-family: "ALK Rex Bold", sans-serif;
}	
.didisurati{
	margin: -130px;
	width: 800px;
	height: 450px;
    margin-left: auto;
	margin-right: auto;
}
.plog, .tema{
	margin: 100px;
}
.plog{
	margin: 10px;
	margin-top: -50px;
	width: 135px;
}
.tema{
	font-size: 20px;
	text-align: left;
	margin-left: 0;
	padding-top: 45px;
	font-family: "ALK Rex Bold", sans-serif;
}
article, p{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}
p{
	margin: 20px;
}
.info{
	background-color: #0A22F4;
	color: #FFFFFF;
	font-size: 15px;
	padding: 20px 45px 20px 45px;
	border-radius: 30px;
	margin-bottom: 170px;
	margin-left: 500px;
	margin-right: 500px;
}
footer{
	background-color: #0A22F4;
	color: #FFFFFF;
	margin-top: 180px;
	height: 700px;
	padding: 40px 110px 10px 110px;
}
.ufleba{
	width: 400px;
}
.cont{
	padding-left: 25px;
}
.tele{
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border-radius: 45px;
}
.mail{
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border-radius: 45px;
}
.send{
	background-color: #FFFFFF;
	color: #171717;
	padding: 15px 30px 15px 30px;
	border-radius: 40px;
	font-size: 20px;
}
a, .maildatele{
	vertical-align: middle;
	font-size: 25px;
}
h4, h5, .heart, .smart{
	display: inline-block;
}
