*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
header{
	background-color: #0020F4;
	padding: 50px 200px 250px 200px;
}
nav, nav ul, nav li {
	list-style-type: none;
	display: inline-block;
}
ul, .mlogo{
	vertical-align: middle;
	font-size: 20px;
}
section div{
	width: 1800px;
    margin-left: auto;
	margin-right: auto;
}
.kont{
	background-color: #FFFFFF;
	color: #171717;
	padding: 20px 45px 20px 45px;
	border-radius: 30px;
}	
.didisurati{
	margin: -150px;
	width: 1800px;
	height: 1100px;
    margin-left: auto;
	margin-right: auto;
}
.plog, .tema{
	margin: 150px;
}
.plog{
	margin: 10px;
	margin-top: -70px;
	width: 335px;
}
.tema{
	font-size: 35px;
	text-align: left;
	margin-left: 0;
	padding-top: 20px;
}
article, p{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
}
p{
	margin: 40px;
}
.info{
	background-color: #0A22F4;
	color: #FFFFFF;
	font-size: 25px;
	padding: 20px 45px 20px 45px;
	border-radius: 30px;
	margin: 1100px 1100px;
	margin-bottom: 200px;
}
footer{
	background-color: #0A22F4;
	color: #FFFFFF;
	margin-top: 200px;
	height: 1080px;
	padding: 150px 200px 10px 200px;
}
.ufleba{
	width: 700px;
}
.cont{
	padding-left: 40px;
}
.tele{
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border-radius: 35px;
}
span{
	font-size: 30px;
}
.mail{
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border-radius: 35px;
}
.send{
	background-color: #FFFFFF;
	color: #171717;
	padding: 25px 50px 25px 50px;
	border-radius: 40px;
	font-size: 20px;
}
